<section class="header">
  <div class="header__first-section">
    <div class="header__first-band header__band">
      <div class="header__first-band__contact">
        <app-contact></app-contact>
      </div>
      <div class="header__first-band__license">
        <app-license></app-license>
      </div>
    </div>
    <div class="header__second-band header__band">
      <app-user></app-user>
    </div>
  </div>
  <div class="header__third-band header__band">
    <app-intro></app-intro>
  </div>
</section>
