@import "src/stylesheets/styles";

.sign-in {
  &__content {
    &__form {
      &__content {
        margin-bottom: 30px;
        &__section {
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          label {
            margin-bottom: 5px;
          }
          input {
            background-color: $white;
            padding: 5px;
            border: none;
          }
        }
      }
    }
  }
}
