@import "src/stylesheets/styles";

.box {
  &__content {
    &__element {
      padding: 10px;
      text-align: center;
    }
    &__title {
      color: $white;
      background-color: $darkmode;
    }
    &__item {
      &__one-element {
        border-bottom: 2px solid $black;
      }
    }
  }
}
