<section class="not-found section darkmode">
  <div class="not-found__content" [ngStyle]="{ 'height.px': windowHeight }">
    <div class="not-found__content__gif">
      <iframe
        src="https://giphy.com/embed/6uGhT1O4sxpi8"
        frameBorder="0"
        class="giphy-embed"
        allowFullScreen
      ></iframe>
    </div>
    <div class="not-found__content__text">
      Vous êtes-vous perdu ?
    </div>
    <div class="not-found__content__button">
      <a routerLink="/cv">
        <button class="button">
          Retourner au CV
        </button>
      </a>
    </div>
  </div>
</section>
