@import "src/stylesheets/styles";

.not-found {
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__gif {
      pointer-events: none;
      width: 100%;
      height: 240px;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    &__text {
      font-weight: $lbold;
      margin: 20px 0;
    }
  }
}
