@import "src/stylesheets/styles";

.title {
  @media screen and (min-width: $llarge) {
    position: absolute;
    top: 0;
    bottom: 0;
    &.left {
      left: -40px;
    }
    &.right {
      right: -40px;
    }
    &::before {
      content: "";
      background-color: $lightgray;
      width: 2px;
      top: 5px;
      bottom: 100%;
      transition: 1.5s;
      position: absolute;
    }
    &.active {
      &::before {
        bottom: 5px;
      }
    }
    &.left {
      &::before {
        left: -25px;
      }
    }
    &.right {
      &::before {
        right: -25px;
      }
    }
  }
  &__content {
    transform-origin: top left;
    text-align: center;
    &.right {
      transform-origin: top right;
    }
    @media screen and (min-width: $xmedium) {
      text-align: unset;
    }
    @media screen and (min-width: $llarge) {
      transform: rotate(90deg);
      &.right {
        transform: rotate(-90deg);
      }
    }
    &__title {
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: $lbold;
      padding: 0 10px;
      position: relative;
      display: inline-block;
      &::before {
        position: absolute;
        content: "";
        height: 13px;
        left: 0;
        bottom: 0px;
        background-color: $lightgray;
        width: 0;
        z-index: -1;
        transition-duration: 1s;
      }
      &.active {
        &::before {
          width: 100%;
        }
      }
      @media screen and (min-width: $llarge) {
        padding: 10px;
        background-color: white;
        color: black;
        transform: rotate(180deg);
        margin: 0;
        &.right {
          transform: rotate(0);
        }
        &::before {
          width: 0;
        }
        &.active {
          &::before {
            display: none;
          }
        }
      }
    }
  }
}
