<section class="project section">
  <div class="project__content">
    <div class="project__content__title">
      <app-title [title]="projects.title"></app-title>
    </div>
    <div class="project__content__swiper">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let project of projects.project">
            <app-project-item [item]="project"></app-project-item>
          </div>
        </div>
      </div>
      <div class="project__content__swiper__arrow">
        <div
          class="swiper-button-next project__content__swiper__arrow__next"
        ></div>
        <div
          class="swiper-button-prev project__content__swiper__arrow__prev"
        ></div>
      </div>
    </div>
  </div>
</section>
